/*Assignment One (02.526 IDV)
Due: 25-Feb*/

td{
	text-align: center;
	font-size: 17px;
	background-color: #FAF7EF;
}



th{
	text-align: center;
	background-color: #FBD06A;
	font-size: 22px;
	text-transform: uppercase;
	height: 50px;
	/*position: fixed;*/
}

tr:hover td{
	background-color: #000000;
	color: #FFFFFF;
}

