table {
	width: 80%;
}

td{
	text-align: center;
	font-size: 18px;
	background-color: #FAF7EF;
}



th{
	text-align: center;
	background-color: #FBD06A;
	font-size: 25px;
}

tr:hover td{
	background-color: #000000;
	color: #FFFFFF;
}

